<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.a35.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_news"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_news"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".NewsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.java.a35.newsapp.NewsListActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/categories" />
        <activity
            android:name=".BlockSettingsActivity"
            android:label="@string/title_block_settings" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.java.a35.newsapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>